{% extends 'lookup/base.html' %}

{% block title %} About {% endblock %}

{%block aboutActive%}active{% endblock %}

{% block content %}
    
<div class="jumbotron">
    <h1 class="display-4"><b>Hello, World.</b></h1><br>
    <hr class="display-4">
    <p class="lead">I am <b>Aashay Markale</b>, a final year student studying at <a href="https://www.coep.org.in/">College of Engineering, Pune</a>.
    Recently, I've been dabbling around a lot with the django framework. That's why I've made this tracker.
    All the data and statistics on this app are being fetched from this <br>
    <center><a href="https://api.rootnet.in/covid19-in/stats/latest" class="btn btn-outline-dark"><b>API</b></a></center></p>
    <hr class="my-4">
    <p>Feel free to follow me on social media</p>
    <a href="https://www.facebook.com/aashay.markale/" class="btn btn-primary">facebook</a>
    <a href="https://www.instagram.com/aashay.jpg/?hl=en" class="btn btn-danger">instagram</a>
    <a href="https://github.com/babaji811" class="btn btn-secondary">github</a>
</div>
    


{% endblock %}